# Visual Studio
.vs/
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db